@import './base.css';

body {
  font-family: 'Noto Sans JP', 'Roboto', 'Helvetica Neue', Arial, 'sans-serif';
  background: #f5f7fa;
  color: #222;
  margin: 0;
}

#app {
  min-height: 100vh;
  font-weight: 400;
}

.v-application {
  background: #f5f7fa !important;
}

.logo-img {
  object-fit: cover;  /* 画像のアスペクト比を保ちながら切り抜く */
  border-radius: 50%; /* 丸くする */
  display: block;     /* ブロック要素化（必要に応じて） */
}
